@tailwind base;
@tailwind components;
@tailwind utilities;



.swal-confirm-btn {
    background-color: #0ea5e9;
    color: white;
  }

  .swal-cancel-btn {
    background-color: #aaa;
    color: white;
  }

